<%- layout("/layouts/boilerplate"); %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit Your Listing</h3>
            <form action="/listings/<%=listing._id%>?_method=put" method="post" novalidate class="needs-validation"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="title" class="form-control"
                        value="<%= listing.title %>" required>
                    <div class="invalid-feedback">
                        please enter a title
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" cols="30" rows="3" id="description" class="form-control"
                        required><%= listing.description %></textarea>
                    <div class="invalid-feedback">
                        please enter a short description.
                    </div>
                </div>
                <div class="mb-3">
                    <p>Original Listing Image</p>
                    <img src="<%= originalImageUrl %>">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" id="image" class="form-control">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="row">
                    <div class="mb-3 col-sm-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" id="price" class="form-control"
                            value="<%= listing.price %>" required>
                        <div class="invalid-feedback">
                            please enter price.
                        </div>
                    </div>
                    <div class="mb-3 col-sm-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="country" class="form-control"
                            value="<%= listing.country %>" required>
                        <div class="invalid-feedback">
                            please enter country name.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="location" class="form-control"
                        value="<%= listing.location %>" required>
                    <div class="invalid-feedback">
                        please enter full location.
                    </div>
                </div>
                <button class="btn btn-red mb-3 mt-3">Edit</button>

            </form>
        </div>
    </div>
</body>